<a href="/dashapp/" class="dash-link">
    <span>Embedded Plotly Dash</span>
    <i class="fas fa-arrow-right"></i>
</a>

<iframe src="/dashapp/" style="border: none; width: 50%; height: 600px;"></iframe>
